.count {
  position: absolute;
  top: -1px;
  margin-left: -5px;
  background: crimson;
  font-size: 1rem;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
}
.icon {
  cursor: pointer;
  position: relative;
}
.hide {
  display: none;
}
